<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.PageTitle}}</title>
  </head>
  <body>
    <h1>{{.PageTitle}}</h1>
    <form action="/cart" method="post">
      <ul>
        {{range .ShirtList}}
        <li>
          <ul for="shirt-{{.Name}}">
            <li>{{.Name}}</li>
            <li>{{.Price}}</li>
            <li>{{.Color}}</li>
            <li>{{.Size}}</li>
          </ul>
          <!-- * select box -->
          <input type="checkbox" name="{{.Name}}" />
        </li>
        {{end}}
      </ul>
      <input type="submit" />
    </form>
  </body>
</html>
